<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="index.css")
    title Document
  body
    h1.title ToDo List
    h3.subtitle Todo using local storage.
    .container
      .createArea
        label(id="label_add" for="todo") +
        input(id="input" type="text" placeholder="Enter data for todo")
      .listArea
        ul#todo_ul
              
  script(src="index.js")